### Commented entries have reasonable defaults.
### Uncomment to edit them.
Source: event-metapackage
Section: misc
Priority: extra
# Homepage: <enter URL here; no default>
Standards-Version: 3.9.2

Package: event-metapackage
# Version: <enter version here; defaults to 1.0>
Maintainer: Tarun Kumar <meets2tarun@gmail.com>
# Pre-Depends: <comma-separated list of packages>
Depends: vlc, libreoffice, gimp, inkscape, firefox, chrome, chromium, owncloud, dropbox, git, google-talkplugin
# Recommends: <comma-separated list of packages>
# Suggests: <comma-separated list of packages>
# Provides: <comma-separated list of packages>
# Replaces: <comma-separated list of packages>
Architecture: all
# Multi-Arch: <one of: foreign|same|allowed>
# Copyright: <copyright file; defaults to GPL2>
# Changelog: <changelog file; defaults to a generic changelog>
# Readme: <README.Debian file; defaults to a generic one>
# Extra-Files: <comma-separated list of additional files for the doc directory>
# Files: <pair of space-separated paths; First is file to include, second is destination>
#  <more pairs, if there's more than one file to include. Notice the starting space>
Description: It is metapackages which consists of essential packages